<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV.</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                {{!-- <a href="/"></a> --}}
                {{!-- <img src="/public/img/icon.png" alt="usericon" width="50" height="50" style="float:right" /> --}}
            </h1>
            <section>
                {{!-- <h2>Whats on your mind?</h2>
                <input /> --}}
            </section>
        </header>
        {{{ body }}}
        {{!-- {{{ body }}} --}}
        </main>
        <footer>
            {{!-- <a href="https://github.com/DeRomuald/DEV">Our Company</a>
            <a href="/">Terms</a>
            <a href="/">Privacy Policy</a>
            <a href="mailto:dev.collaborators@gmail.com">Contact Us</a> --}}

        </footer>
    </div>

</body>

</html>