<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV.</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                {{!-- <a href="/"></a> --}}
                <img src="" alt="usericon" width="50" height="50" style="float:right" />
            </h1>
        </header>
        <main>

            <body>
                <section>
                    <h2>section1-Paths?</h2>
                </section>
                <section>
                    <h2>Posts</h2>
                    {{{ body }}}
                </section>
            </body>
            {{!-- {{{ body }}} --}}
        </main>
        <footer>
            <a href="https://github.com/DeRomuald/DEV">Our Company</a>
            <a href="/">Terms</a>
            <a href="/">Privacy Policy</a>
            <a href="/">Support</a>
        </footer>
    </div>

</body>

</html>