<!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV.</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</header>

<body>
    <div>

        <head>
            <h1>
                <a class="dev" href="/">DEV.</a>
                <a class="loginbutton" href="/login">login</a>
                {{!-- <img src="/img/icon.png" alt="usericon" class="imgicon"> --}}
            </h1>

        </head>
        {{!-- <nav>
            {{#if loggedIn}}
            <script src="/javascript/logout.js"></script>
            <a href="../homepage">Homepage</a>
            {{else}}
            <a class="loginbutton" href="/login">login</a>
            {{/if}}
        </nav> --}}
        <main>
            {{{ body }}}
        </main>
        <footer class="footer">
            <a class="footer-margin" href="https://github.com/DeRomuald/DEV">Our Company</a>
            <a class="footer-margin" href="/">Terms</a>
            <a class="footer-margin" href="/">Privacy Policy</a>
            <a class="footer-margin" href="mailto:dev.collaborators@gmail.com">Contact Us</a>

        </footer>
    </div>

</body>

</html>