<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV.</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">DEV.</a> 
                <img src="/public/img/icon.png" alt="usericon" width="50" height="50" style="float:right" /> --}}
            </h1>
            <section>
                 <h2>Whats on your mind?</h2>
                 <textarea class="textarea" placeholder="e.g. I need help..."></textarea>
                <button  style="background-color:#45A29E; color: #C5C6C7; font-size:20px;">Enter</Button>
            </section>

        </header>
        <main>
        {{{ body }}}
        </main>
        <footer>
            <a href="https://github.com/DeRomuald/DEV">Our Company</a>
            <a href="/">Terms</a>
            <a href="/">Privacy Policy</a>
            <a href="mailto:dev.collaborators@gmail.com">Contact Us</a>

        </footer>
    </div>

</body>

</html>