
<body style="background-color:#0B0c10;">
    <div class="flex-column min-100-vh">
        <nav class="navbar">
            <h1>
                {{!-- <a href="/"></a> --}}
                <img src="/public/img/icon.jpg" alt="usericon" width="50" height="50" style="float:right" />
            </h1>
        </nav>
        <header>
                <h2 style="color: #45A29E; font-size: 30px;">Whats on your mind?</h2>
                <input/>
                <button type="submit" value="submit">Post</button>
        </header>
        <main>

            <body>
                <section>
                    <h2 style="color:  #66FCF1; font-size: 40px;">Posts</h2>


                     
                </section>
                <section>
                    
                </section>
            </body>
            {{!-- {{{ body }}} --}}
        </main>
        <footer>
            <a href="https://github.com/DeRomuald/DEV">Our Company</a>
            <a href="/">Terms</a>
            <a href="/">Privacy Policy</a>
            <a href="/">Support</a>
        </footer>
    </div>

</body>

</html>