
<header>
    <h1 style="color: #66FCF1; font-size: 70px; font-famnily:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">DEV.</h1>
</header>
<body
    clas="join-page" style="background-color:#0B0c10;">

    <section>
        <div>
            <form style="color: #66FCF1; font-size: 40px; font-famnily:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Log In</form>
        </div>
            <label style="color: #45A29E; font-size: 20px;">Username</label>
            <input type="text" />
        <div>
            <label style="color: #45A29E; font-size: 20px;">Password</label>
            <input type="password" />
        </div>
        <div>
            <button type="submit" value="submit">Start Engaging</button>
        </div>
    </section>
    <section>
        <div>
            <form style="color: #66FCF1; font-size: 40px; font-famnily:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Sign Up!</form>
        </div>
        <div>
            <label style="color: #45A29E; font-size: 20px;">Email</label>
            <input type="email" />
        </div>
        <div>
            <label style="color: #45A29E; font-size: 20px;">Username</label>
            <input type="text" />
        </div>
        <div>
            <label style="color: #45A29E; font-size: 20px;">Password</label>
            <input type="text" />
        </div>
        <div>
            <button type="submit" value="submit">Join Our Cult</button>
        </div>
        
    </section>
</body>

