<section>
 <div class="field">
     <h2>Sign In!</h2>
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="username" placeholder="Username">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
    <button type="submit" value="submit">Start Engaging</button>
</section>
<section>
      <div class="field">
    <h2>Sign Up!</h2>
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
 <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="username" placeholder="Username">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
    <button type="submit" value="submit">Join Our Cult</button>
</section>

<script src="/javascript/login.js"></script>