{{#if 'undefined'}}
<section>
  <div class="field">
    <h2 class="login">Log In!</h2> <br>
    <p class="form-input">
      <input type="username" placeholder="Username">
    </p>
  </div>
  <div class="field">
    <p class="form-input">
      <input type="password" placeholder="Password">
    </p>
  </div>
  <div class="form-input">
    <a href="./homepage">Start Engaging</a>
  </div>
</section>
{{!-- <section>
  <div class="field">
    <h2>Sign Up!</h2>
    <p class="control has-icons-left has-icons-right">
      <input class="form-input" type="email" placeholder="Email">
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="form-input" type="username" placeholder="Username">
      <i class="fas fa-envelope"></i>
    <div class="field">
      <p class="control has-icons-left">
        <input class="form-input" type="password" placeholder="Password">
      </p>
    </div>
    <button type="submit" value="submit">Join Our Cult</button>
</section> --}}

<script src="/public/javascript/login.js"></script>
{{/if}}