<section>
    <form>Log In</form>
    <label>Username</label>
    <input type="text" id="username-login" />
    <label>Password</label>
    <input type="password" id="password-login" />
    <button type="submit" value="submit">Start Engaging</button>
</section>
<section>
    <form>Sign Up!</form>
    <label>Email</label>
    <input type="email" id="email-signup" />
    <label>User Name</label>
    <input type="text" id="username-signup" />
    <label>Password</label>
    <input type="text" id="password-signup" />
    <button type="submit" value="submit">Join Our Cult</button>
</section>

<script src="/javascript/login.js"></script>