<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV.</title>
    <link rel="stylesheet" href="/public/img/icon.png">
</head>

<body>
    <div>
        <header>
            <h1>
                {{!-- <a href="/"></a> --}}
                {{!-- <img src="/public/img/icon.png" alt="usericon" width="50" height="50" style="float:right" /> --}}
            </h1>
            <section>

                <h1 style="margin-left: 50%; margin-top: 20%;"> DEV. </h1>

                <form action="/views/login.handlebars" class="inline">
                    <Button style="margin-left: 50%; margin-top: 20%;"> Enter </Button>
                </form>

            </section>
        </header>
        <main>
    </div>

</body>

</html>