<header
    class="starter-page" style="background-color: #0B0c10;">
    <div>
        <h1 class="start-page" style="text-align:center; font-size:300px; color:#66FCF1; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">DEV.</h1>

        <form action="/views/login.handlebars" class="inline">
            <button  style="margin-left: 50%; margin-top: 20%; background-color:#45A29E; color: #C5C6C7; font-size:50px;">Enter</Button>
        </form>
    </div>
</header>


{{!-- margin-left: 50%; margin-top: 20%; --}}