h1 {
    margin-left: 50%;
    margin-right: 50%;
}

title {
    font-size: 100px;
    font-family: monospace;
    color: #66fcF1
}

header {
    margin-left: 50%; 
    margin-top: 20%;
    size: 30%;
}

